<div id="<%= dom_id booking %>">
  <p>
    <strong>Booking date:</strong>
    <%= booking.booking_date %>
  </p>

  <p>
    <strong>Customer:</strong>
    <%= booking.customer_id %>
  </p>

  <p>
    <strong>Package:</strong>
    <%= booking.package_id %>
  </p>

</div>
